In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
alerts_df = pd.read_csv(r"C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\aggregate_alerts_Kota Bogor.csv")
irreg_df = pd.read_csv(r"C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\aggregate_median_irregularities_Kota Bogor.csv")
jams_df = pd.read_csv(r"C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\aggregate_median_jams_Kota Bogor.csv")

### 1. Alerts

In [8]:
alerts_df.head()

,id,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,type,avg_location,total_records,date
0,5930177,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),ROAD_CLOSED,"[106.80051600000002, -6.561997000000004]",61,2022-07-06
1,5930178,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,NaN,WEATHERHAZARD,"[106.80159300000008, -6.555780000000009]",61,2022-07-06
2,5930179,2022-07-06 01:00:00.000,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),ROAD_CLOSED,"[106.80051600000002, -6.561997000000004]",60,2022-07-06
3,5930180,2022-07-06 01:00:00.000,32.71,KOTA BOGOR,NaN,WEATHERHAZARD,"[106.80159300000008, -6.555780000000009]",60,2022-07-06
4,5930181,2022-07-06 02:00:00.000,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),ROAD_CLOSED,"[106.80051600000002, -6.561997000000004]",60,2022-07-06

In [5]:
alerts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9762 entries, 0 to 9761
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         9762 non-null   int64
 1   time                       9762 non-null   object
 2   kemendagri_kabupaten_kode  9762 non-null   float64
 3   kemendagri_kabupaten_nama  9762 non-null   object
 4   street                     8827 non-null   object
 5   type                       9762 non-null   object
 6   avg_location               9762 non-null   object
 7   total_records              9762 non-null   int64
 8   date                       9762 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 686.5+ KB

In [18]:
alerts_df = alerts_df.dropna(subset='street')

In [19]:
# Convert data type
alerts_df['time'] = pd.to_datetime(alerts_df['time'])
alerts_df['date'] = pd.to_datetime(alerts_df['date'])

In [20]:
alerts_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8827 entries, 0 to 9760
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         8827 non-null   int64
 1   time                       8827 non-null   datetime64[ns]
 2   kemendagri_kabupaten_kode  8827 non-null   float64
 3   kemendagri_kabupaten_nama  8827 non-null   object
 4   street                     8827 non-null   object
 5   type                       8827 non-null   object
 6   avg_location               8827 non-null   object
 7   total_records              8827 non-null   int64
 8   date                       8827 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(2), object(4)
memory usage: 689.6+ KB

In [55]:
alerts_df.to_parquet(r'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\cleaned\aggregate_alerts_Kota Bogor.parquet', index=False)

### 2. Irregularities

In [24]:
irreg_df.head()

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,cause_type,median_seconds,median_speed,date,median_jam_level,id,geometry
0,2022-07-06 09:00:00.000,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1878.0,689.0,13.775000,18,NaN,856.5,7.340,2022-07-06,4.0,1492793,"MULTILINESTRING ((106.738284 -6.568848, 106.73..."
1,2022-07-06 09:00:00.000,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,3,1226.0,339.5,14.400000,6,NaN,447.0,9.995,2022-07-06,3.0,1492792,"MULTILINESTRING ((106.73546 -6.565547, 106.735..."
2,2022-07-06 10:00:00.000,32.71,KOTA BOGOR,Kapten Yusuf,3,1399.0,517.0,18.150000,2,NaN,707.0,7.110,2022-07-06,3.0,1492794,"LINESTRING (106.785538 -6.61574, 106.785797 -6..."
3,2022-07-06 10:00:00.000,32.71,KOTA BOGOR,N9 Underpass KH Soleh Iskandar,4,627.0,525.0,23.900002,20,NaN,573.5,3.930,2022-07-06,4.0,1492797,"MULTILINESTRING ((106.800519 -6.562005, 106.80..."
4,2022-07-06 10:00:00.000,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1420.0,623.0,11.710000,19,NaN,734.0,6.560,2022-07-06,4.0,1492796,"MULTILINESTRING ((106.739572 -6.570715, 106.73..."

In [25]:
irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4051 entries, 0 to 4050
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       4051 non-null   object
 1   kemendagri_kabupaten_kode  4051 non-null   float64
 2   kemendagri_kabupaten_nama  4051 non-null   object
 3   street                     4051 non-null   object
 4   jam_level                  4051 non-null   int64
 5   median_length              4051 non-null   float64
 6   median_delay_seconds       4051 non-null   float64
 7   median_regular_speed       4051 non-null   float64
 8   total_records              4051 non-null   int64
 9   cause_type                 0 non-null      float64
 10  median_seconds             4051 non-null   float64
 11  median_speed               4051 non-null   float64
 12  date                       4051 non-null   object
 13  median_jam_level           4051 non-null   float64
 14  id                         4051 non-null   int64
 15  geometry                   4051 non-null   object
dtypes: float64(8), int64(3), object(5)
memory usage: 506.5+ KB

In [26]:
# Convert data type
irreg_df['time'] = pd.to_datetime(irreg_df['time'])
irreg_df['date'] = pd.to_datetime(irreg_df['date'])

In [39]:
irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4051 entries, 0 to 4050
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       4051 non-null   datetime64[ns]
 1   kemendagri_kabupaten_kode  4051 non-null   float64
 2   kemendagri_kabupaten_nama  4051 non-null   object
 3   street                     4051 non-null   object
 4   jam_level                  4051 non-null   int64
 5   median_length              4051 non-null   float64
 6   median_delay_seconds       4051 non-null   float64
 7   median_regular_speed       4051 non-null   float64
 8   total_records              4051 non-null   int64
 9   median_seconds             4051 non-null   float64
 10  median_speed               4051 non-null   float64
 11  date                       4051 non-null   datetime64[ns]
 12  median_jam_level           4051 non-null   float64
 13  id                         4051 non-null   int64
 14  geometry                   4051 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(3), object(3)
memory usage: 474.9+ KB

In [30]:
# drop columns
irreg_df.drop(columns='cause_type', axis=1, inplace=True)

In [40]:
irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4051 entries, 0 to 4050
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       4051 non-null   datetime64[ns]
 1   kemendagri_kabupaten_kode  4051 non-null   float64
 2   kemendagri_kabupaten_nama  4051 non-null   object
 3   street                     4051 non-null   object
 4   jam_level                  4051 non-null   int64
 5   median_length              4051 non-null   float64
 6   median_delay_seconds       4051 non-null   float64
 7   median_regular_speed       4051 non-null   float64
 8   total_records              4051 non-null   int64
 9   median_seconds             4051 non-null   float64
 10  median_speed               4051 non-null   float64
 11  date                       4051 non-null   datetime64[ns]
 12  median_jam_level           4051 non-null   float64
 13  id                         4051 non-null   int64
 14  geometry                   4051 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(3), object(3)
memory usage: 474.9+ KB

In [57]:
irreg_df.to_parquet(r'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\cleaned\aggregate_median_irregularities_Kota Bogor.parquet', index=False)

### 3. Jams

In [42]:
jams_df.head()

,Unnamed: 0,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
0,0,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,Pahlawan,2,784.0,62.0,20.310001,4,33469021,2022-07-06,2.0,"MULTILINESTRING ((106.797269 -6.608899, 106.79..."
1,1,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,2,1314.0,63.0,37.710000,2,33469023,2022-07-06,2.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."
2,2,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),5,167.0,-1.0,0.000000,61,33469019,2022-07-06,5.0,"MULTILINESTRING ((106.800516 -6.561997, 106.80..."
3,3,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,N8 Jalan Raya Sukabumi,3,379.0,117.5,8.594999,10,33469020,2022-07-06,3.0,"MULTILINESTRING ((106.845486 -6.6594, 106.8454..."
4,4,2022-07-06 00:00:00.000,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,1,2438.0,87.0,42.270000,2,33469022,2022-07-06,1.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."

In [43]:
jams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102322 entries, 0 to 102321
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 102322 non-null  int64
 1   time                       102322 non-null  object
 2   kemendagri_kabupaten_kode  102322 non-null  float64
 3   kemendagri_kabupaten_nama  102322 non-null  object
 4   street                     100529 non-null  object
 5   level                      102322 non-null  int64
 6   median_length              102322 non-null  float64
 7   median_delay               102322 non-null  float64
 8   median_speed_kmh           102322 non-null  float64
 9   total_records              102322 non-null  int64
 10  id                         102322 non-null  int64
 11  date                       102322 non-null  object
 12  median_level               102322 non-null  float64
 13  geometry                   102322 non-null  object
dtypes: float64(5), int64(4), object(5)
memory usage: 10.9+ MB

In [44]:
jams_df['time'] = pd.to_datetime(jams_df['time'])
jams_df['date'] = pd.to_datetime(jams_df['date'])

In [47]:
jams_df = jams_df.drop(columns=['Unnamed: 0'])

In [50]:
jams_df = jams_df.dropna(subset='street')

In [51]:
jams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100529 entries, 0 to 102321
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   time                       100529 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  100529 non-null  float64
 2   kemendagri_kabupaten_nama  100529 non-null  object
 3   street                     100529 non-null  object
 4   level                      100529 non-null  int64
 5   median_length              100529 non-null  float64
 6   median_delay               100529 non-null  float64
 7   median_speed_kmh           100529 non-null  float64
 8   total_records              100529 non-null  int64
 9   id                         100529 non-null  int64
 10  date                       100529 non-null  datetime64[ns]
 11  median_level               100529 non-null  float64
 12  geometry                   100529 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 10.7+ MB

In [58]:
jams_df.to_parquet(r'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\cleaned\aggregate_median_jams_Kota Bogor.parquet', index=False)