In [2]:
import pandas as pd
from datetime import datetime

In [3]:
data_path = 'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\cleaned\{}'

jams_df = pd.read_parquet(data_path.format('aggregate_median_jams_Kota Bogor.parquet'))

### Jams Dataset

In [4]:
jams_df.head()

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
0,2022-07-06,32.71,KOTA BOGOR,Pahlawan,2,784.0,62.0,20.310001,4,33469021,2022-07-06,2.0,"MULTILINESTRING ((106.797269 -6.608899, 106.79..."
1,2022-07-06,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,2,1314.0,63.0,37.710000,2,33469023,2022-07-06,2.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."
2,2022-07-06,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),5,167.0,-1.0,0.000000,61,33469019,2022-07-06,5.0,"MULTILINESTRING ((106.800516 -6.561997, 106.80..."
3,2022-07-06,32.71,KOTA BOGOR,N8 Jalan Raya Sukabumi,3,379.0,117.5,8.594999,10,33469020,2022-07-06,3.0,"MULTILINESTRING ((106.845486 -6.6594, 106.8454..."
4,2022-07-06,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,1,2438.0,87.0,42.270000,2,33469022,2022-07-06,1.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."

In [5]:
jams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100529 entries, 0 to 100528
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   time                       100529 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  100529 non-null  float64
 2   kemendagri_kabupaten_nama  100529 non-null  object
 3   street                     100529 non-null  object
 4   level                      100529 non-null  int64
 5   median_length              100529 non-null  float64
 6   median_delay               100529 non-null  float64
 7   median_speed_kmh           100529 non-null  float64
 8   total_records              100529 non-null  int64
 9   id                         100529 non-null  int64
 10  date                       100529 non-null  datetime64[ns]
 11  median_level               100529 non-null  float64
 12  geometry                   100529 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 10.0+ MB

In [6]:
# Check level that not equal to median level
jams_df[jams_df['level'] != jams_df['median_level']].shape

(0, 13)

In [7]:
# Check street value counts
jams_df['street'].value_counts()

N9 Raden KH Abdullah bin Nuh    3658
N9 Jalan Raya Pajajaran         3625
N9 Jalan Raya Dramaga           3174
N9 Jalan Raya Tajur             3054
N8 Jalan Raya Bogor             2954
                                ...
Jagung                             1
Pembangunan 1                      1
Partibi                            1
Garuda 1                           1
Sedap Malam                        1
Name: street, Length: 454, dtype: int64

In [8]:
# Check min and max timestamp
print("Min Timestamp : {}".format(jams_df['time'].min()))
print("Max Timestamp : {}".format(jams_df['time'].max()))

Min Timestamp : 2022-07-06 00:00:00
Max Timestamp : 2022-09-06 00:00:00

In [9]:
day = (max(jams_df['time']) - min(jams_df['time'])).days
hour = 24
street = len(set(jams_df['street']))

if day * hour * street == jams_df.shape[0]:
    print("Complete historical data")
else:
    print("Incomplete historical data")
    print("Proportion with complete: {}%".format(
        round((jams_df.shape[0]/(day * hour * street)) * 100, 2)
    ))

Incomplete historical data
Proportion with complete: 14.88%

In [10]:
# Check count of street and time
count_street_time = pd.DataFrame({'count':jams_df.groupby(['street', 'time']).size()})
count_street_time.reset_index(inplace=True)
count_street_time

            street                time  count
0      AH Nasution 2022-07-09 13:00:00      1
1      AH Nasution 2022-07-19 12:00:00      1
2      AH Nasution 2022-07-19 15:00:00      1
3      AH Nasution 2022-07-22 14:00:00      1
4      AH Nasution 2022-07-22 22:00:00      1
...            ...                 ...    ...
51843  Yasmin Raya 2022-08-29 17:00:00      1
51844  Yasmin Raya 2022-08-30 14:00:00      2
51845  Yasmin Raya 2022-09-01 22:00:00      1
51846  Yasmin Raya 2022-09-03 13:00:00      1
51847  Yasmin Raya 2022-09-04 14:00:00      1

[51848 rows x 3 columns]

In [11]:
# Identify non unique street and time
non_unique_street_time = count_street_time[count_street_time['count'] > 1]
non_unique_street_time

                  street                time  count
5            AH Nasution 2022-07-23 11:00:00      2
16           AH Nasution 2022-08-27 12:00:00      3
18           AH Nasution 2022-08-27 15:00:00      2
22           AH Nasution 2022-08-28 16:00:00      2
31     Achmad Adnawijaya 2022-07-06 17:00:00      2
...                  ...                 ...    ...
51809      Wijaya Kusuma 2022-09-01 17:00:00      2
51816        Yasmin Raya 2022-07-07 21:00:00      2
51818        Yasmin Raya 2022-07-13 16:00:00      2
51823        Yasmin Raya 2022-07-24 14:00:00      2
51844        Yasmin Raya 2022-08-30 14:00:00      2

[30766 rows x 3 columns]

In [12]:
# Identify unique street and time
unique_street_time = count_street_time[count_street_time['count'] == 1]
unique_street_time

            street                time  count
0      AH Nasution 2022-07-09 13:00:00      1
1      AH Nasution 2022-07-19 12:00:00      1
2      AH Nasution 2022-07-19 15:00:00      1
3      AH Nasution 2022-07-22 14:00:00      1
4      AH Nasution 2022-07-22 22:00:00      1
...            ...                 ...    ...
51842  Yasmin Raya 2022-08-28 15:00:00      1
51843  Yasmin Raya 2022-08-29 17:00:00      1
51845  Yasmin Raya 2022-09-01 22:00:00      1
51846  Yasmin Raya 2022-09-03 13:00:00      1
51847  Yasmin Raya 2022-09-04 14:00:00      1

[21082 rows x 3 columns]

If there were more that one row, choose the row that has higher report count. If more than one row have equal number of report, choose first record.

In [13]:
# Remove duplicates
new_jams_df = jams_df.drop_duplicates(subset=['street', 'time'])

In [14]:
new_jams_df.shape

(51848, 13)

In [15]:
# Check duplicates
new_count_street_time = pd.DataFrame({'count':new_jams_df.groupby(['street', 'time']).size()}).reset_index()
new_count_street_time[new_count_street_time['count'] > 1].shape[0]

0

In [16]:
# Check minus value
print('Min Median Length:', new_jams_df['median_length'].min())
print('Min Median Delay:', new_jams_df['median_delay'].min())
print('Min Median Speed kmh:', new_jams_df['median_speed_kmh'].min())

Min Median Length: 13.0
Min Median Delay: -1.0
Min Median Speed kmh: 0.0

Consist minus value on median delay

In [17]:
# Remove minus value
new_jams_df = new_jams_df[new_jams_df['median_delay'] >= 0]
print('Min Median Delay:', new_jams_df['median_delay'].min())

Min Median Delay: 18.0

Minus value removed

In [18]:
# Check new_jams_df info
new_jams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50669 entries, 0 to 100527
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       50669 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  50669 non-null  float64
 2   kemendagri_kabupaten_nama  50669 non-null  object
 3   street                     50669 non-null  object
 4   level                      50669 non-null  int64
 5   median_length              50669 non-null  float64
 6   median_delay               50669 non-null  float64
 7   median_speed_kmh           50669 non-null  float64
 8   total_records              50669 non-null  int64
 9   id                         50669 non-null  int64
 10  date                       50669 non-null  datetime64[ns]
 11  median_level               50669 non-null  float64
 12  geometry                   50669 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 5.4+ MB

### Final dataset

In [19]:
final_jams_df = new_jams_df.loc[:, ['time', 'street', 'level', 'median_length', 'median_delay', 'median_speed_kmh', 'geometry']]

In [20]:
final_jams_df

,time,street,level,median_length,median_delay,median_speed_kmh,geometry
0,2022-07-06 00:00:00,Pahlawan,2,784.0,62.0,20.310001,"MULTILINESTRING ((106.797269 -6.608899, 106.79..."
1,2022-07-06 00:00:00,Tol Lingkar Luar Bogor,2,1314.0,63.0,37.710000,"LINESTRING (106.787027 -6.559782, 106.787701 -..."
3,2022-07-06 00:00:00,N8 Jalan Raya Sukabumi,3,379.0,117.5,8.594999,"MULTILINESTRING ((106.845486 -6.6594, 106.8454..."
6,2022-07-06 01:00:00,N9 Jalan Raya Pajajaran,2,808.0,73.0,19.920000,"LINESTRING (106.804346 -6.595963, 106.80472 -6..."
7,2022-07-06 01:00:00,Tol Lingkar Luar Bogor,1,2812.0,128.5,43.400000,"LINESTRING (106.787027 -6.559782, 106.787701 -..."
...,...,...,...,...,...,...,...
100518,2022-09-04 23:00:00,Kapten Yusuf,3,402.0,106.0,9.080000,"MULTILINESTRING ((106.787318 -6.614671, 106.78..."
100523,2022-09-06 00:00:00,N9 KS Tubun,2,327.0,67.0,9.620000,"MULTILINESTRING ((106.810069 -6.56609, 106.809..."
100524,2022-09-06 00:00:00,Tol Jagorawi,2,3377.0,116.0,39.030000,"LINESTRING (106.831594 -6.604101, 106.831608 -..."
100525,2022-09-06 00:00:00,N9 Jalan Raya Tajur,1,2625.0,107.5,29.235000,"LINESTRING (106.83008 -6.637004, 106.831101 -6..."
100527,2022-09-06 00:00:00,N9 Jalan Raya Pajajaran,2,862.5,77.5,21.035000,"MULTILINESTRING ((106.807007 -6.579145, 106.80..."

In [24]:
# Save dataset
final_jams_df.to_parquet(r'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\final\final dataset.parquet',
                         index=False)