In [40]:
import pandas as pd
from datetime import datetime

In [5]:
data_path = 'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\cleaned\{}'

irreg_df = pd.read_parquet(data_path.format('aggregate_median_irregularities_Kota Bogor.parquet'))
jams_df = pd.read_parquet(data_path.format('aggregate_median_jams_Kota Bogor.parquet'))

In [6]:
irreg_df.head()

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,date,median_jam_level,id,geometry
0,2022-07-06 09:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1878.0,689.0,13.775000,18,856.5,7.340,2022-07-06,4.0,1492793,"MULTILINESTRING ((106.738284 -6.568848, 106.73..."
1,2022-07-06 09:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,3,1226.0,339.5,14.400000,6,447.0,9.995,2022-07-06,3.0,1492792,"MULTILINESTRING ((106.73546 -6.565547, 106.735..."
2,2022-07-06 10:00:00,32.71,KOTA BOGOR,Kapten Yusuf,3,1399.0,517.0,18.150000,2,707.0,7.110,2022-07-06,3.0,1492794,"LINESTRING (106.785538 -6.61574, 106.785797 -6..."
3,2022-07-06 10:00:00,32.71,KOTA BOGOR,N9 Underpass KH Soleh Iskandar,4,627.0,525.0,23.900002,20,573.5,3.930,2022-07-06,4.0,1492797,"MULTILINESTRING ((106.800519 -6.562005, 106.80..."
4,2022-07-06 10:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1420.0,623.0,11.710000,19,734.0,6.560,2022-07-06,4.0,1492796,"MULTILINESTRING ((106.739572 -6.570715, 106.73..."

### Jams Dataset

In [7]:
jams_df.head()

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,level,median_length,median_delay,median_speed_kmh,total_records,id,date,median_level,geometry
0,2022-07-06,32.71,KOTA BOGOR,Pahlawan,2,784.0,62.0,20.310001,4,33469021,2022-07-06,2.0,"MULTILINESTRING ((106.797269 -6.608899, 106.79..."
1,2022-07-06,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,2,1314.0,63.0,37.710000,2,33469023,2022-07-06,2.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."
2,2022-07-06,32.71,KOTA BOGOR,KH Soleh Iskandar (Jalur Lambat),5,167.0,-1.0,0.000000,61,33469019,2022-07-06,5.0,"MULTILINESTRING ((106.800516 -6.561997, 106.80..."
3,2022-07-06,32.71,KOTA BOGOR,N8 Jalan Raya Sukabumi,3,379.0,117.5,8.594999,10,33469020,2022-07-06,3.0,"MULTILINESTRING ((106.845486 -6.6594, 106.8454..."
4,2022-07-06,32.71,KOTA BOGOR,Tol Lingkar Luar Bogor,1,2438.0,87.0,42.270000,2,33469022,2022-07-06,1.0,"LINESTRING (106.787027 -6.559782, 106.787701 -..."

In [8]:
jams_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100529 entries, 0 to 100528
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   time                       100529 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  100529 non-null  float64
 2   kemendagri_kabupaten_nama  100529 non-null  object
 3   street                     100529 non-null  object
 4   level                      100529 non-null  int64
 5   median_length              100529 non-null  float64
 6   median_delay               100529 non-null  float64
 7   median_speed_kmh           100529 non-null  float64
 8   total_records              100529 non-null  int64
 9   id                         100529 non-null  int64
 10  date                       100529 non-null  datetime64[ns]
 11  median_level               100529 non-null  float64
 12  geometry                   100529 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 10.0+ MB

In [9]:
# Check level that not equal to median level
jams_df[jams_df['level'] != jams_df['median_level']].shape

(0, 13)

In [10]:
# Check street value counts
jams_df['street'].value_counts()

N9 Raden KH Abdullah bin Nuh    3658
N9 Jalan Raya Pajajaran         3625
N9 Jalan Raya Dramaga           3174
N9 Jalan Raya Tajur             3054
N8 Jalan Raya Bogor             2954
                                ...
Jagung                             1
Pembangunan 1                      1
Partibi                            1
Garuda 1                           1
Sedap Malam                        1
Name: street, Length: 454, dtype: int64

In [11]:
# Check min and max timestamp
print("Min Timestamp : {}".format(jams_df['time'].min()))
print("Max Timestamp : {}".format(jams_df['time'].max()))

Min Timestamp : 2022-07-06 00:00:00
Max Timestamp : 2022-09-06 00:00:00

In [12]:
day = (max(jams_df['time']) - min(jams_df['time'])).days
hour = 24
street = len(set(jams_df['street']))

if day * hour * street == jams_df.shape[0]:
    print("Complete historical data")
else:
    print("Incomplete historical data")
    print("Proportion with complete: {}%".format(
        round((jams_df.shape[0]/(day * hour * street)) * 100, 2)
    ))

Incomplete historical data
Proportion with complete: 14.88%

In [13]:
# Check count of street and time
count_street_time = pd.DataFrame({'count':jams_df.groupby(['street', 'time']).size()})
count_street_time.reset_index(inplace=True)
count_street_time

            street                time  count
0      AH Nasution 2022-07-09 13:00:00      1
1      AH Nasution 2022-07-19 12:00:00      1
2      AH Nasution 2022-07-19 15:00:00      1
3      AH Nasution 2022-07-22 14:00:00      1
4      AH Nasution 2022-07-22 22:00:00      1
...            ...                 ...    ...
51843  Yasmin Raya 2022-08-29 17:00:00      1
51844  Yasmin Raya 2022-08-30 14:00:00      2
51845  Yasmin Raya 2022-09-01 22:00:00      1
51846  Yasmin Raya 2022-09-03 13:00:00      1
51847  Yasmin Raya 2022-09-04 14:00:00      1

[51848 rows x 3 columns]

In [14]:
# Identify non unique street and time
non_unique_street_time = count_street_time[count_street_time['count'] > 1]
non_unique_street_time

                  street                time  count
5            AH Nasution 2022-07-23 11:00:00      2
16           AH Nasution 2022-08-27 12:00:00      3
18           AH Nasution 2022-08-27 15:00:00      2
22           AH Nasution 2022-08-28 16:00:00      2
31     Achmad Adnawijaya 2022-07-06 17:00:00      2
...                  ...                 ...    ...
51809      Wijaya Kusuma 2022-09-01 17:00:00      2
51816        Yasmin Raya 2022-07-07 21:00:00      2
51818        Yasmin Raya 2022-07-13 16:00:00      2
51823        Yasmin Raya 2022-07-24 14:00:00      2
51844        Yasmin Raya 2022-08-30 14:00:00      2

[30766 rows x 3 columns]

In [15]:
# Identify unique street and time
unique_street_time = count_street_time[count_street_time['count'] == 1]
unique_street_time

            street                time  count
0      AH Nasution 2022-07-09 13:00:00      1
1      AH Nasution 2022-07-19 12:00:00      1
2      AH Nasution 2022-07-19 15:00:00      1
3      AH Nasution 2022-07-22 14:00:00      1
4      AH Nasution 2022-07-22 22:00:00      1
...            ...                 ...    ...
51842  Yasmin Raya 2022-08-28 15:00:00      1
51843  Yasmin Raya 2022-08-29 17:00:00      1
51845  Yasmin Raya 2022-09-01 22:00:00      1
51846  Yasmin Raya 2022-09-03 13:00:00      1
51847  Yasmin Raya 2022-09-04 14:00:00      1

[21082 rows x 3 columns]

If there were more that one row, choose the row that has higher report count. If more than one row have equal number of report, choose first record.

In [16]:
# Remove duplicates
new_jams_df = jams_df.drop_duplicates(subset=['street', 'time'])

In [17]:
new_jams_df.shape

(51848, 13)

In [18]:
# Check duplicates
new_count_street_time = pd.DataFrame({'count':new_jams_df.groupby(['street', 'time']).size()}).reset_index()
new_count_street_time[new_count_street_time['count'] > 1].shape[0]

0

In [19]:
# Check new_jams_df info
new_jams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51848 entries, 0 to 100527
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       51848 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  51848 non-null  float64
 2   kemendagri_kabupaten_nama  51848 non-null  object
 3   street                     51848 non-null  object
 4   level                      51848 non-null  int64
 5   median_length              51848 non-null  float64
 6   median_delay               51848 non-null  float64
 7   median_speed_kmh           51848 non-null  float64
 8   total_records              51848 non-null  int64
 9   id                         51848 non-null  int64
 10  date                       51848 non-null  datetime64[ns]
 11  median_level               51848 non-null  float64
 12  geometry                   51848 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 5.5+ MB

### Irregularities Dataset

In [21]:
irreg_df.sample(5)

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,date,median_jam_level,id,geometry
239,2022-07-12 17:00:00,32.71,KOTA BOGOR,Paledang,4,806.0,952.0,15.23,23,1016.0,2.790,2022-07-12,4.0,1502179,"MULTILINESTRING ((106.793852 -6.60143, 106.793..."
284,2022-07-13 14:00:00,32.71,KOTA BOGOR,Letjen Ibrahim Adjie,4,869.0,530.0,19.56,2,626.0,4.965,2022-07-13,4.0,1503712,"LINESTRING (106.751498 -6.573561, 106.752411 -..."
3439,2022-08-29 10:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1257.0,836.0,10.13,29,965.0,5.530,2022-08-29,4.0,1573131,"MULTILINESTRING ((106.737974 -6.568384, 106.73..."
3981,2022-09-04 11:00:00,32.71,KOTA BOGOR,Kapten Yusuf,4,922.0,510.0,9.54,39,679.0,5.280,2022-09-04,4.0,1583215,"MULTILINESTRING ((106.787318 -6.614671, 106.78..."
1781,2022-08-04 06:00:00,32.71,KOTA BOGOR,Tol Bocimi,3,4439.0,494.0,92.71,9,678.0,23.530,2022-08-04,3.0,1540564,"MULTILINESTRING ((106.838743 -6.659607, 106.83..."

In [22]:
irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4051 entries, 0 to 4050
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       4051 non-null   datetime64[ns]
 1   kemendagri_kabupaten_kode  4051 non-null   float64
 2   kemendagri_kabupaten_nama  4051 non-null   object
 3   street                     4051 non-null   object
 4   jam_level                  4051 non-null   int64
 5   median_length              4051 non-null   float64
 6   median_delay_seconds       4051 non-null   float64
 7   median_regular_speed       4051 non-null   float64
 8   total_records              4051 non-null   int64
 9   median_seconds             4051 non-null   float64
 10  median_speed               4051 non-null   float64
 11  date                       4051 non-null   datetime64[ns]
 12  median_jam_level           4051 non-null   float64
 13  id                         4051 non-null   int64
 14  geometry                   4051 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(3), object(3)
memory usage: 474.9+ KB

In [26]:
# Check the street and time records
irreg_count_street_time = pd.DataFrame({'count':irreg_df.groupby(['street', 'time']).size()})
irreg_count_street_time.reset_index(inplace=True)
irreg_count_street_time

                 street                time  count
0     Achmad Adnawijaya 2022-07-16 15:00:00      1
1     Achmad Adnawijaya 2022-08-04 10:00:00      2
2     Achmad Adnawijaya 2022-08-04 11:00:00      2
3     Achmad Adnawijaya 2022-08-11 18:00:00      1
4     Achmad Adnawijaya 2022-08-11 19:00:00      1
...                 ...                 ...    ...
2616            Veteran 2022-08-30 07:00:00      1
2617            Veteran 2022-09-02 16:00:00      1
2618            Veteran 2022-09-03 16:00:00      1
2619            Veteran 2022-09-03 17:00:00      1
2620            Veteran 2022-09-04 14:00:00      2

[2621 rows x 3 columns]

In [31]:
# Check duplicates
irreg_count_street_time[irreg_count_street_time['count'] > 1].shape[0]

1279

In [32]:
# Check non duplicated records
irreg_count_street_time[irreg_count_street_time['count'] == 1].shape[0]

1342

In [33]:
# Remove duplicates
new_irreg_df = irreg_df.drop_duplicates(subset=['street', 'time'])

In [34]:
new_irreg_df.shape

(2621, 15)

In [35]:
new_irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 4050
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       2621 non-null   datetime64[ns]
 1   kemendagri_kabupaten_kode  2621 non-null   float64
 2   kemendagri_kabupaten_nama  2621 non-null   object
 3   street                     2621 non-null   object
 4   jam_level                  2621 non-null   int64
 5   median_length              2621 non-null   float64
 6   median_delay_seconds       2621 non-null   float64
 7   median_regular_speed       2621 non-null   float64
 8   total_records              2621 non-null   int64
 9   median_seconds             2621 non-null   float64
 10  median_speed               2621 non-null   float64
 11  date                       2621 non-null   datetime64[ns]
 12  median_jam_level           2621 non-null   float64
 13  id                         2621 non-null   int64
 14  geometry                   2621 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(3), object(3)
memory usage: 327.6+ KB

In [36]:
new_irreg_df.sample(5)

,time,kemendagri_kabupaten_kode,kemendagri_kabupaten_nama,street,jam_level,median_length,median_delay_seconds,median_regular_speed,total_records,median_seconds,median_speed,date,median_jam_level,id,geometry
3134,2022-08-26 20:00:00,32.71,KOTA BOGOR,TB M Falak,3,1072.0,466.0,24.200,4,591.0,6.520,2022-08-26,3.0,1568012,"MULTILINESTRING ((106.777404 -6.581281, 106.77..."
3647,2022-09-01 12:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Dramaga,4,1420.0,621.5,17.375,16,753.5,6.780,2022-09-01,4.0,1576766,"MULTILINESTRING ((106.739572 -6.570715, 106.73..."
3405,2022-08-28 17:00:00,32.71,KOTA BOGOR,Pahlawan,4,1669.5,880.5,12.100,38,1065.5,5.100,2022-08-28,4.0,1571917,"MULTILINESTRING ((106.803668 -6.614671, 106.80..."
1657,2022-08-01 17:00:00,32.71,KOTA BOGOR,N9 Jalan Raya Tajur,3,1344.0,311.5,25.150,18,422.0,12.275,2022-08-01,3.0,1536718,"MULTILINESTRING ((106.818424 -6.62308, 106.819..."
3090,2022-08-26 16:00:00,32.71,KOTA BOGOR,Kapten Muslihat,4,668.0,749.0,7.340,5,829.0,2.820,2022-08-26,4.0,1567957,"MULTILINESTRING ((106.788193 -6.595608, 106.78..."

In [37]:
new_jams_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51848 entries, 0 to 100527
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       51848 non-null  datetime64[ns]
 1   kemendagri_kabupaten_kode  51848 non-null  float64
 2   kemendagri_kabupaten_nama  51848 non-null  object
 3   street                     51848 non-null  object
 4   level                      51848 non-null  int64
 5   median_length              51848 non-null  float64
 6   median_delay               51848 non-null  float64
 7   median_speed_kmh           51848 non-null  float64
 8   total_records              51848 non-null  int64
 9   id                         51848 non-null  int64
 10  date                       51848 non-null  datetime64[ns]
 11  median_level               51848 non-null  float64
 12  geometry                   51848 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(3), object(3)
memory usage: 5.5+ MB

In [38]:
new_irreg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 4050
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   time                       2621 non-null   datetime64[ns]
 1   kemendagri_kabupaten_kode  2621 non-null   float64
 2   kemendagri_kabupaten_nama  2621 non-null   object
 3   street                     2621 non-null   object
 4   jam_level                  2621 non-null   int64
 5   median_length              2621 non-null   float64
 6   median_delay_seconds       2621 non-null   float64
 7   median_regular_speed       2621 non-null   float64
 8   total_records              2621 non-null   int64
 9   median_seconds             2621 non-null   float64
 10  median_speed               2621 non-null   float64
 11  date                       2621 non-null   datetime64[ns]
 12  median_jam_level           2621 non-null   float64
 13  id                         2621 non-null   int64
 14  geometry                   2621 non-null   object
dtypes: datetime64[ns](2), float64(7), int64(3), object(3)
memory usage: 327.6+ KB

In [39]:
# Save interim dataset

saved_path = 'C:\Ayub Indra\Data Analyst\DSLS 2023\Mini Project Data Scientist\Datasets\interim\{}'

new_jams_df.to_parquet(saved_path.format('jams_interim.parquet'), index=False)
new_irreg_df.to_parquet(saved_path.format('irreg_interim.parquet'), index=False)